@font-face {
  font-family: Gotham-Medium;
  src: url("./assets/Gotham-Medium.otf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gotham-Medium", sans-serif;
  line-height: 1.5;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  overflow: hidden;
  background: hsl(0, 0%, 7.5%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vis-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

video {
  z-index: 2;
  position: relative;
  width: 20vw;
}

.stats {
  margin: 10px;
  &.hide {
    display: none;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.825);
  visibility: visible;
  transition: background 0.5s ease-in-out, visibility 0.5s ease-in-out;
  &.hidden {
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
  }
}

.animateUserInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.userContainer {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px black;
  width: 85vw;
  max-width: 100vh;
  height: 75vmin;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: scale(1);
  &.hidden {
    opacity: 0;
    transform: translateY(50vmin) scale(0.25);
  }
  .videoContainer {
    width: calc(75vmin * 735 / 1080);
    z-index: 2;
    position: absolute;
  }
  .closeButton {
    width: 25px;
    height: 25px;
    background: black;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    border-radius: 5px;
    background-image: url("./assets/close.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
  .skipButton {
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    z-index: 3;
    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
}

.clearButton,
.resetCamera {
  background: black;
  color: white;
  position: absolute;
  top: 0;
  left: calc(375px + 20px);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
  z-index: 3;
  height: 40px;
  margin: 20px;
  text-align: center;
  font-size: 13.33px;
  padding: 10px 20px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.resetCamera {
  left: auto;
  top: auto;
  bottom: 0;
}

.studentDetails {
  color: white;
  width: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 2;
  text-shadow: 2px 2px 2px #000;
  padding: 20px;
  overflow-y: auto;
  max-height: 75vmin;
  .text {
    font-size: 16px;
    padding: 20px 0;
  }
}

.markdownVideo,
.markdownImage {
  margin-top: 20px;
  width: 100%;
}

.greenScreen {
  position: absolute;
  visibility: hidden;
}

.searchBox,
.tagBox {
  z-index: 2;
  position: absolute;
  width: 325px;
  right: 0;
  padding: 20px;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  * {
    text-align: center;
  }
  input {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
    border: solid 1px black;
    color: white;
    &::placeholder {
      color: white;
    }
  }
}

.tagBox {
  right: auto;
  left: 0;
  width: 375px;
  .dropbtn {
    color: white;
    border: none;
    cursor: pointer;
    width: 375px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
    border-radius: 5px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    a {
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      height: 40px;
      line-height: 40px;
      border: solid 1px black;
      display: block;
      cursor: pointer;
      &:hover {
        background: rgba(#18453b, 0.5);
      }
    }
  }
}

.tagBox:hover .dropdown-content {
  display: block;
}

.react-search-box-dropdown {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.75) !important;
}

.react-search-box-dropdown ul li {
  display: inherit !important;
  background: rgba(0, 0, 0, 0.5) !important;
  border: solid 1px black !important;
  color: white;
  &:hover {
    background: rgba(#18453b, 0.5) !important;
  }
}

.react-search-box-dropdown ul li:nth-child(1n + 6) {
  display: none !important;
}

.react-search-box-dropdown ul li:nth-child(5) {
  border-radius: 5px;
}

.fireworksContainer {
  width: calc(75vmin * 735 / 1080);
  height: 100%;
  border: solid 1px black;
  border-radius: 10px;
  overflow: hidden;
}

.fireworks {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

// LOADER
@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background: hsl(0, 0%, 7.5%);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  color: white;
  display: flex;
  flex-direction: column;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  .topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .loading {
      font-size: 24px;
      span {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }
      span:nth-child(2) {
        animation-delay: 0.2s;
      }
      span:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
  .universityLogo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    .logoContainer {
      width: 25vmin;
      height: 25vmin;
      position: relative;
      .logo,
      .logoWhite {
        width: 100%;
        height: 100%;
        background-image: url("./assets/helmetWhite.svg");
        background-size: 85%;
        background-position: center bottom;
        background-repeat: no-repeat;
        position: absolute;
        margin-bottom: 20px;
        bottom: 0;
      }
      .logo {
        background-image: url("./assets/helmet.svg");
        z-index: 2;
        height: 0;
      }
    }

    .commencement {
      font-family: sans-serif;
      font-weight: 100;
      letter-spacing: 1.5px;
    }
  }
}

.browserText {
  font-size: 16px;
  width: 380px;
  text-align: center !important;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin: 20px;
}

.instructions {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  flex-direction: column;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  .instructionsIcon {
    background-image: url("./assets/click.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 20vmin;
    height: 20vmin;
  }
  .instructionsText {
    font-size: 24px;
    margin-top: 12px;
  }
}

.embed {
  user-select: all;
  pointer-events: all;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 0;
  width: calc(75vmin * 735 / 1080);
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
}

.allVideos {
  position: absolute;
  visibility: hidden;
}